@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr: theme(colors.slate.100);
  interpolate-size: allow-keywords;
}

:not(:active):focus-visible {
  outline-offset: 0.3rem;
}

.clip-path {
  position: relative;
  @apply bg-blue-600;
  clip-path: polygon(
    4% 0,
    96% 0,
    100% 2%,
    100% 98%,
    96% 100%,
    4% 100%,
    0 98%,
    0 2%
  );

  @media (width > 780px) {
    clip-path: polygon(
      2% 0,
      98% 0,
      100% 2%,
      100% 98%,
      98% 100%,
      2% 100%,
      0 98%,
      0 2%
    );
  }

  &::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: var(--bg-clr);
    clip-path: polygon(
      4% 0,
      96% 0,
      100% 2%,
      100% 98%,
      96% 100%,
      4% 100%,
      0 98%,
      0 2%
    );
    z-index: -1;

    @media (width > 780px) {
      clip-path: polygon(
        2% 0,
        98% 0,
        100% 2%,
        100% 98%,
        98% 100%,
        2% 100%,
        0 98%,
        0 2%
      );
    }
  }
}

dialog {
  &,
  &::backdrop {
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete,
      opacity 0.3s,
      transform 0.3s;

    opacity: 0;
    transition-timing-function: ease-in-out;
  }

  &[open] {
    opacity: 1;

    &::backdrop {
      opacity: 0.8;
    }
  }

  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }

    &[open] {
      transform: translatey(10px);
    }
  }
  &::backdrop {
    background-color: black;
  }
}

[popover]:popover-open {
  translate: 0 0;
}
/*   EXIT STATE   */
[popover] {
  transition:
    translate 300ms ease-in-out,
    display 300ms ease-in-out allow-discrete,
    overlay 300ms ease-in-out allow-discrete;
  translate: 0 -22rem;
}

/*   0. BEFORE-OPEN STATE   */
@starting-style {
  [popover]:popover-open {
    translate: 0 -22rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 75ms ease-out;
  }
  :not(:active):focus-visible {
    transition-duration: 0.25s;
  }
}
