@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-clr: theme(colors.slate.100);
}

@media (prefers-reduced-motion: no-preference) {
  :focus-visible {
    transition: outline-offset 75ms ease-out;
  }
  :not(:active):focus-visible {
    transition-duration: 0.25s;
  }
}

:not(:active):focus-visible {
  outline-offset: 0.3rem;
}

dialog {
  &,
  &::backdrop {
    transition:
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete,
      opacity 0.3s,
      transform 0.3s;

    opacity: 0;
    transition-timing-function: ease-in-out;
  }

  &[open] {
    opacity: 1;

    &::backdrop {
      opacity: 0.8;
    }
  }

  @starting-style {
    &[open],
    &[open]::backdrop {
      opacity: 0;
    }

    &[open] {
      transform: translatey(10px);
    }
  }
  &::backdrop {
    background-color: black;
  }
}
